<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Settings" version="5.1.0" targetFramework="monoandroid403" />
  <package id="Newtonsoft.Json" version="8.0.3" targetFramework="monoandroid403" />
  <package id="Xamarin.Android.ShortcutBadger" version="1.1.404" targetFramework="monoandroid403" />
  <package id="Xamarin.Android.Support.v4" version="23.3.0" targetFramework="monoandroid403" />
</packages>